# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
tmp/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

portal/node_modules/
portal/package-lock.json
web/*
frontend/node_modules/
frontend/package-lock.json
web/*

# Go workspace file
go.work

# Environment variables
.env
systemprompt.md

# IDE files
.idea/
.vscode/

# Logs
*.log
